GOOGLE_DRIVE_FOLDER_ID=your_private_google_drive_folder_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
SESSION_SECRET=your_long_random_session_secret_string_here
